<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,238}</string>
                <key>spriteSourceSize</key>
                <string>{333,238}</string>
                <key>textureRect</key>
                <string>{{0,999},{333,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mul.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,238}</string>
                <key>spriteSourceSize</key>
                <string>{333,238}</string>
                <key>textureRect</key>
                <string>{{333,999},{333,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{0,0},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{238,0},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{476,0},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{714,0},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num2png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{0,333},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{238,333},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{476,333},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{714,333},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{0,666},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{238,666},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{476,666},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,333}</string>
                <key>spriteSourceSize</key>
                <string>{238,333}</string>
                <key>textureRect</key>
                <string>{{714,666},{238,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,238}</string>
                <key>spriteSourceSize</key>
                <string>{333,238}</string>
                <key>textureRect</key>
                <string>{{666,999},{333,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,238}</string>
                <key>spriteSourceSize</key>
                <string>{333,238}</string>
                <key>textureRect</key>
                <string>{{0,1237},{333,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_Dev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,238}</string>
                <key>spriteSourceSize</key>
                <string>{333,238}</string>
                <key>textureRect</key>
                <string>{{333,1237},{333,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_Mul.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,238}</string>
                <key>spriteSourceSize</key>
                <string>{333,238}</string>
                <key>textureRect</key>
                <string>{{666,1237},{333,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_Sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,238}</string>
                <key>spriteSourceSize</key>
                <string>{333,238}</string>
                <key>textureRect</key>
                <string>{{0,1475},{333,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LogiPokerCards.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f85b887b6721f3dda1fcb677439e5a3c:1979837df6510f9267d771f8e8414d90:b2aa12cc2ce9f82f394b319d9430bdd0$</string>
            <key>textureFileName</key>
            <string>LogiPokerCards.png</string>
        </dict>
    </dict>
</plist>
